
examples/figureEight.m~
*.bin
*.log
*.dat
learnVes/.DS_Store
learnVes/.DS_Store
*.mat
*.png
*.fig
learnVes/.DS_Store
learnVes/output/.DS_Store
*.asv
learnVes/.DS_Store
*.zip
learnVes/.DS_Store
*.e*
*.o*
*~*
*.mexa64
.DS_Store
.DS_Store
.DS_Store
learnVes/.DS_Store
